---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.svelte';
---

<Layout title="Zeeshan Ahmed | Software Engineer">
	<main>
		<Sidebar/>
		<div class="container-fluid p-0" id="body-content">
			<About/>
			<Projects client:load/>
			<Experience/>
		</div>
	</main>
</Layout>

<style>
	section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 90%;
  border-bottom: 1px solid lightgray;
  position: relative;
}
section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
</style>
