---
import uiowalogo from "../images/uiowa_logo.png"
import uetlogo from "../images/uet_logo.png"
---

<section class="resume-section" id="education">
    <div class="resume-section-content pb-5">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3><img class="company-logo" src={uiowalogo} alt="University of Iowa"/> University of Iowa</h3>
                <h4>Masters of Computer Science</h4>
                <ul>
                    <li>Focus Areas: Software Engineer Languages and Tools, Algorithms, Machine Learning, Web Mining</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2020 - Decemeber 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3><img src={uetlogo} width="35" alt="UET Lahore Logo"/> UET Lahore</h3>
                <h4>Bachelors of Science in Electrical Engineering (Computer Science)</h4>
                <ul>
                    <li>Focus Areas: Computer Networks, Data Structures, Artificial Intelligence</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2013 - November 2017</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />


<style>
    .company-logo {
        width: 80px;
        margin-right: 0.3em;
        padding-bottom: 0.2em;
    }

    a {
        text-decoration: none;
    }
</style>