---
import { skills } from "../data/skills";
import { frameworks } from "../data/skills";
---

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
            <div>
                <h3>Languages</h3>
                <ul>
                    {skills.map((skill) => (
                        <li>{skill}</li>
                    ))}
                </ul>
            </div>
            <div class="mt-5">
                <h3>Web Development</h3>
                <ul>
                    {frameworks.map((framework) => (
                        <li>{framework.name}</li>
                    ))}
                </ul>
            </div>
    </div>
    <a class="down-arrow" href="#education">
        <span class="fa-stack">
          <i class="fa-solid fa-circle fa-stack-2x" />
          <i class="fa-solid fa-stack-1x fa-arrow-down fa-inverse" />
        </span></a
      >
</section>
<hr class="m-0" />
<style>

    ul {
        padding: 0;
    }

    ul > li {
        list-style-type: none;
        display: inline-block;
        margin-right: 0.5em;
        color: #fff;
        padding: 0.3em 0.8em;
        border-radius: 1em;
        cursor: pointer;
        background-color: hsl(272, 30%, 40%);
        transition: all 0.3s ease-in-out;
    }

    li:hover{
        background-color: transparent;
        box-shadow: 0 0 0 2px hsl(272, 30%, 40%);
        color: hsl(272, 30%, 40%);
    }

    @media (min-width: 992px) {
        padding: 4rem;
    }
</style>