<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="d-flex justify-content-center justify-content-around">
            <div class="skills-container">
                <h3 class="skill-heading">Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Apex (Salesforce)</li>
                    <li>Javascript</li>
                    <li>SQL</li>
                    <li>Ruby</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>R</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class="skills-container">
                <h3 class="skill-heading">Web Development</h3>
                <ul>
                    <li>Django</li>
                    <li>ReactJS</li>
                    <li>MERN</li>
                    <li>Ruby on Rails</li>
                    <li>AstroJS</li>
                </ul>
            </div>
        </div>
    </div>
    <a class="down-arrow" href="#education">
        <span class="fa-stack">
          <i class="fa-solid fa-circle fa-stack-2x" />
          <i class="fa-solid fa-stack-1x fa-arrow-down fa-inverse" />
        </span></a
      >
</section>
<hr class="m-0" />
<style>
    .skills-container {
        background: hsl(272, 30%, 44%);
        color: #fff !important;
        width: 25rem;
        font-size: 1.4rem;
        padding: 1rem;
        margin-bottom: 7rem;
        border-radius: 10px;
        line-height: 2.3rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .skills-container:hover {
        background: hsl(272, 30%, 35%);
        box-shadow:  0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
    }

    .skill-heading {
        color: #fff;
        padding: 1rem;
        font-size: 2rem;

    }
</style>