---
import '../styles/global.css';
export interface Props {
	title: string;
}
import favicon from "../images/favicon.png";

const { title } = Astro.props as Props;
import siteimg from "../images/site-img.jpg"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Primary Meta Tags -->
    <title>{title}</title>
	<meta name="title" content="Zeeshan Ahmed - Software Engineer">
	<meta name="description" content="Software Engineer experienced in developing full stack web applications.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://zshanahmed.github.io/">
	<meta property="og:title" content="Zeeshan Ahmed - Software Engineer">
	<meta property="og:description" content="Software Engineer experienced in developing full stack web applications.">
	<meta property="og:image" content={siteimg}>

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://zshanahmed.github.io/">
	<meta property="twitter:title" content="Zeeshan Ahmed - Software Engineer">
	<meta property="twitter:description" content="Software Engineer experienced in developing full stack web applications.">
	<meta property="twitter:image" content={siteimg}>

	<link rel="shortcut icon" href={favicon} type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
</head>
<body data-spy="scroll" data-target="#sideNav" id="page-top">
	<slot/>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	$('body').scrollspy({ target: '#sideNav', offset: 74 });
</script>
</html>